@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Roboto&display=swap');

.bodyIndex {
	background-color:#C0C3CB;
	font-family: 'Roboto';
}
.bodyPage {
	background-color:#ECEFF7;
	font-family: 'Roboto';
}

.container-i {
	margin-top:200px;
	width:800px;
	height:500px;
	background-color:white;
	box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	text-align:center;
	padding:10px;
}

.row {
	padding:20px;
}
/* Titre : DoliStats */
.titre {
	font-family: 'Baloo 2';
	font-weight:bold;
	font-size:70px;
	text-align:center;
}
/* Champs de saisie */
.authentification {
	border: none;
	border-bottom:1px solid #C0C3CB;
	font-size:20px;
	margin:15px;
}
/* Placeholder */
input[type=text]::placeholder {
   font-weight:italic;
   color:#C0C3CB;
}
/* Bouton "Se connecter" */
.btnConnect {
	background-color:#ECEFF7;
	width:180px;
	height:45px;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
}

/* Navbar */
.navbar {
    text-align:center;
    background-color:#263c5c;
    color:#FFFFFF;
    font-weight:bold;
    border-radius: 0%;
	padding:20px;
}
.titre-navbar {
    font-size: 14px;
}

/* Grand titre accueil */
.bigDolistats {
	font-family:'Baloo 2';
	font-weight:bold;
	font-size:160px;
	text-align:center;
	text-transform:center;
	color:white;
	padding-top:200px;
	text-transform:uppercase;
}

/* Boutons top*/
.btnTop {
	width:125px;
	height:72px;
	background-color:#C0C3CB;
	color:white;
	font-size:32px;
	text-transform:uppercase;
	text-align:center;
	border:none;
}

/* Boutons top*/
.btnPetitTop {
	width:75px;
	height:72px;
	background-color:#C0C3CB;
	color:white;
	font-size:28px;
	text-transform:uppercase;
	text-align:center;
	border:none;
}

/* Champs de saisie Top... */
.saisieTop {
	width:75px;
	height:72px;
	background-color:white;
	color:#ECEFF7;
	font-size:28px;
	text-transform:uppercase;
	text-align:center;
	border:1px solid #C0C3CB;
}

/* Labels "Période du" et " au "*/
.labelText {
	font-size:32px;
	margin-left:10px;
	margin-right:10px;
}

/* Champs de saisie des périodes*/
.saisiePeriode {
	width:224px;
	height:78px;
	background:white;
	border:1px solid #C0C3CB;
}
.saisiePeriode:placeholder {
		font-size:26px;
		font-weight:italic;
}

/* GRaphique camembert */
.pieChart {
	margin-top: 30px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-image: conic-gradient(
		pink 70deg, 
		skyblue 0 235deg, 
		lightsalmon 0);
}

/* Formatage des lignes du tableau */
.ligne {
	border-bottom:1px solid black;
	font-size:26px;
	margin-top:10px;
}

.paddingLeft {
	padding-left:20px;
}
.paddingRight {
	padding-right:20px;
}
.paddingBottom {
	padding-bottom:20px;
}
.paddingTop {
	padding-top:20px;
}
.center {
	text-align:center;
}

/* Mise en gras des titre H1 */
h1 {
	font-weight:bold;
}

/* Centrage du graphique */
.centerGraph{
  display:flex;
  align-items:center;
  justify-content:center;
}

.critereGrille {
	background-color:#C0C3CB;
	border:2px solid #C0C3CB;
}

.uppercase {
	text-transform:uppercase;
	font-size:28px;
}
.miniText {
	font-size:20px;
	font-style:italic;
}

/* Bouton "Valider" */
.btnValid {
	background-color:#263C5C;
	width:150px;
	height:60px;
	font-weight:bold;
	text-align:center;
	font-size:26px;
	color:white;
	text-transform:uppercase;
}
